@model IEnumerable<SeniorProject.Models.Collaboration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColabboratorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Institute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compounds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phdM2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColabboratorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compounds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phdM2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabDay.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
