@model List<SeniorProject.Models.Item>

@{
    ViewData["Title"] = "consumables";
}

<h1>Consumables</h1>

<p>
    <a asp-action="CreateConsumable">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Name

            </th>

            <th>
                Quantity

            </th>

            <th>

                Expiry Date
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.type.Equals("Consumable"))
            {
                if (item.expired == true)
                {
                    <tr style="background-color:#FF0000">

                        <td>
                            @item.name
                        </td>

                        <td>
                            @item.quantity
                        </td>

                        <td>
                            @item.expiryDate
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>



                    </tr>


                }

                else
                    if (item.remainingQuantity == true)
                {
                    <tr style="background-color:#FF0000">

                        <td>
                            @item.name
                        </td>

                        <td>
                            @item.quantity
                        </td>

                        <td>
                            @item.expiryDate
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>



                    </tr>

                }
                else
                {
                <tr>

                    <td>
                        @item.name
                    </td>

                    <td>
                        @item.quantity
                    </td>

                    <td>
                        @item.expiryDate
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
                }
            }
        }
    </tbody>
</table>
