@model SeniorProject.Models.Form

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Form</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fathername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fathername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.requestType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.requestType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.speciality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.speciality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.requestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.requestStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paragraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paragraph)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabDay.ID)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
